*{
    padding: 0; margin: 0;
    text-transform: uppercase;
}
body{
    margin-bottom: 3em;
    width: 100%;
}
/* heaer */
#icons{
    text-align: right;
    margin-top: 11px;
    margin-right: 2.5%;
}
.icons_{
    margin-left: 10px;
}
#logo{
    display: block;
    text-align: center;
    margin-left: 1.5em;
}
#top{
    display: flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
}







i{
    margin-right: 2em;
}
.menu{
    margin-left: 2.5em;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
}
.menu:hover{
    color: #669933;
}
.menu:checked{
    color: #333;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
}






.line{
    margin-top: 80px;
    display: inline-block;
    font-size: 0;
    width: 92px; height: 3px;
    background-color: #1b1b1b;
}
#title{
    text-align: center;
    margin-top: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
    font-weight: bolder;
    
}
#title h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    margin-top: 12px;
}
#title #strong{
    color: #669933;
    font-weight: 600;
}
/* header */













/* left section */
.container{
    padding: 0; margin: 0;
    margin-top: 4em;
    display: flex;
    justify-content: center;
}
#list{
    width: 15%;
    padding-left: 2em;
}
#actor{
    text-align: start;
    width: 70%;
    display: flex;
}
.main{
    width: 45%;
    margin-right: 2em;
}
.right{
    width: 60%;
}







ul{
    display: block;
    list-style: none;
}

#list ul li{
    height: 2em;
}



#list ul li a{
    transition: .6s;
}
#list ul li a span{
    display: inline-block;
    font-weight: 100;

    height: 2em;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
}
   
#list ul li a:hover span {
    color: #669933;
    font-weight: bold;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    transition: 1.5s;
  }


#list ul li a:hover{
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
    text-decoration: none;

    -webkit-transition-delay: .02s;
    transition-delay: .02s;
}
#list ul li a:checked{
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
    text-decoration: none;
    font-weight: 100;
}
#list ul li a:active{
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #669933;
    letter-spacing: -0.03em;
    text-decoration: none;
    font-weight: 600;
}
/* left section */



/* main center-img,buttom */
#sns{
    padding: 0; margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: space-between;
}
#sns a{
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: 5px 3px;
    padding: 1em 1em;
    background-color: transparent;
    border-radius: 8px;
    border: #669933 3px solid;

    font-family: sans-serif;
    font-size: 15px;
    color: #669933;
    letter-spacing: -0.03em;
    font-weight: bolder;
    text-decoration: none;
}
#sns a:hover{
    background-color: #669933;
    color: white;
}
/* main center */










/* aside right */
#info-top,#info-right,#tab{
    width: 100%;
    display: flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
}
#info-right{
    border-bottom: 1px solid #E5E5E5;
}
#info-top *,#info-right *{
    display: inline-block;
}
.name{
    font-family: sans-serif;
    font-size: 3em !important;
    color: #333;
    display: inline;
}
#birth{
    font-family: sans-serif;
    color: #333;
    font-size: .4em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.03em;
}
#info-top h4,#photo-top h4,#video-top h4{
    color: #999;
    font-size: small;
    height: 30px;
    font-weight: 600;
    padding-left: 10px;
}
#info-top h4 a,#photo-top h4 a,#video-top a{
    text-decoration: none;
    color: #999;
}
.right h4,#photo-top h4,#video-top h4{
    color: #999;
    height: 30px;
    padding-left: 10px;
}
#category,#category2{
    flex-shrink: 0;
}
#category .tab,#category2 .tab,#category3 .tab{
    margin-left: 1em;
    font-size: medium;
    font-style: normal;
    color: #888;
    font-size: 15px;
    font-weight: 500;    
    text-decoration: none;
    padding: 0 8px;
}
#info-top a:hover,#photo-top a:hover,#video-top a:hover{
    color: #669933;
}
.tab:hover{
    background-color: #669933;
    background-color: rgba(100, 134, 90, 0.26);
    border-radius: 8px;
    border-color: rgba(100, 134, 90, 0.26);
    /* transform: rotate(360deg); */
    transition: width 3s, height 3s, background-color 2s, transform 1s;
}









#info-base ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 10em;
    padding-left: 5%;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
    list-style-type: none;
    font-weight: normal;
}
#info-base ul li{
    width: 100%;
    font-size: 15px;
    line-height: 2.5em;
    color: #666;
    letter-spacing: -0.03em;
}
#info-base ul li b{
    float: left;
    width: 15%;
    height: 100%;
}
#info-base pre{
    display: inline-block;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1em;
    color: #333;
    height: auto;
    line-height: 30px;
}






#info-work h1{
    color: #333;
    margin-left: 10px;
    font-size: 2em;
    font-weight: 600;
    /* border-bottom: 1px solid #E5E5E5; */
}
#info-work ul{
    height: 400px;
    overflow: auto;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0em;
    padding-left: 5%;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
    list-style-type: none;
    font-weight: normal;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* #info-work ul::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera
} */
#info-work ul::-webkit-scrollbar {
    width: 2px; height: 0;
    background: #f3f3f3;
    border-radius: 5px;
    
}
#info-work ul::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    opacity: .4;
    border-radius: 5px;
}
#info-work ul::-webkit-scrollbar-track {
    background: none;
}





#info-work ul li{ 
    width: 100%;
    font-size: 15px;
    line-height: 2.5em;
    color: #666;
    letter-spacing: -0.03em;
    margin-bottom: 2em;
}
#info-work ul li b{
    float: left;
    width: 15%;
    display: table-cell;
    vertical-align: top;
}
#info-work pre{
    display: inline;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1em;
    color: #333;
    line-height: 30px;
    display: table-row;
    vertical-align: top;
    border: khaki 1px solid;
}



/* aside right */









/* photo - article*/
#photo,#photo *{
    /* border: thistle 1px solid; */
}
#photo,#video{
    width: 75%;
    flex-flow: column;
}
.sidename,.sidename2{
    color: #999;
    font-weight: 600;
    font-size: .5em;
    padding-left: 10px;
    height: 30px;
}
#photo-top,#video-top{
    width: 100%;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
}
#photo-top *,.tab *{
    display: inline-block;
}
#category2,#category3{
    margin-top: .5em;
}
.imgrow{
    height: fit-content;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: .5em;
}
.imgrow *{
    display: inline-block;
    width: 100%;
}
.imgrow a{
    max-width: 50%; 
    height: 350px;
    border-radius: 1.5em;
    overflow: hidden;
    margin: 0 .5em;
    position:relative;
}
.photolist{
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 200%;

    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    width: 100px; 
    left: 50%; 
    transform: translate(-50%, 0); 
    position: absolute;

    
    object-fit: fill;
}
.imgrow a:hover{
    color: aliceblue;
    opacity: 30%;
}
.pagebtn{
    display: flex;
    justify-content: center;
    justify-items: center; 
    margin-top: 5em;  
}

#img-end{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 2em;
}

.pagebtn *{
    margin: 0 1em;
    color: #333;
}
#before,#after{
    border-radius: 1em;
    width: 2em;
}
#before:hover,#after:hover{
    background-color: rgba(110, 170, 60, 0.5);
}

button{
    width: 40px;
    border: none;
    background-color: transparent;
    border-radius: 80%;
    font-size: 1.5em;
    cursor: default;
    border-style: none;
    text-rendering: auto;
    border: none;
    outline:0;
}
button:hover{
    color: #669933;
}
button::-moz-focus-inner{
    border: none;
    outline:none;
}














#video ul{
    border: 1px dotted dodgerblue;
    display: flex;
    justify-content: space-around;
}

/* video */
iframe{
    width: 100%;
    height: 520px;
    margin: 1em 0;
}
.video-list{
    position: relative;
    width: max-content;
    height: max-content;
    display: table-cell;
    text-decoration: none;
}
.video-list{
    background-color: fuchsia;
    width: 280px;
    height: 160px;
}

.video-list:hover *{
    opacity: .3,
}

.video-list img,.darkmode{
    position: absolute;
    width: 280px;
    height: 160px;

}
.video-title{
    display: none;
    vertical-align: middle;
    margin-bottom: 9px;
    width: 280px;
    vertical-align: middle;
    text-align: center;
    font-family: sans-serif;
}
.video-list:hover .darkmode{
    background-color: rgba(0, 0, 0, 0.705);
}
.video-list:hover .video-title{
    display: table-cell;
    position: absolute;
    top: 70px;
    color: white;
}

.mainimage{
    width: 100%;
    height: 500px;
}

