*{
    padding: 0; margin: 0;
    text-transform: uppercase;
}
body{
    margin-bottom: 3em;
}
/* heaer */
#icons{
    text-align: right;
    margin-top: 11px;
    margin-right: 2.5%;
}
.icons_{
    margin-left: 10px;
}
#logo{
    width: 272px;
    margin-top: -1.2%;
    margin-left: 0.8%;
}
#top{
    display: flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
}







i{
    margin-right: 1%;
}
.menu{
    margin-left: 2.5em;
    font-family: sans-serif;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
}
.menu:hover{
    color: #669933;
}
.menu:checked{
    color: #333;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
}






.line{
    margin-top: 80px;
    display: inline-block;
    font-size: 0;
    width: 92px; height: 3px;
    background-color: #1b1b1b;
}
#title{
    text-align: center;
    margin-top: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
    font-weight: bolder;
    
}
#title h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    margin-top: 12px;
}
#title #strong{
    color: #669933;
    font-weight: 600;
}
/* header */













/* left section */
.container{
    padding: 0; margin: 0;
    display: flex;
    margin-top: 4em;
    -webkit-justify-content: center;
    justify-content: center;
}
.list{
    width: 15%;
    padding-left: 2em;
}
.main{
    width: 30%;
    margin-right: 2em;
}
.right{
    width: 40%;
    padding-right: 1em;
}







ul{
    display: block;
    list-style: none;
}

.list ul li{
    height: 2em;
}



.list ul li a{
    transition: .6s;
}
.list ul li a span{
    display: inline-block;
    font-weight: 100;

    height: 2em;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
}
   
.list ul li a:hover span {
    color: #669933;
    font-weight: bold;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    transition: .8s;
  }


.list ul li a:hover{
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
    text-decoration: none;

    -webkit-transition-delay: .02s;
    transition-delay: .02s;
}
.list ul li a:checked{
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
    text-decoration: none;
    font-weight: 100;
}
/* left section */



/* main center-img,buttom */
#sns{
    padding: 0; margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: space-between;
}
#sns button{
    width: 50%;
    display: inline-block;
    margin: 5px 3px;
    padding: 1em 1em;
    background-color: transparent;
    border-radius: 8px;
    border: #669933 3px solid;

    font-family: sans-serif;
    font-size: 15px;
    color: #669933;
    letter-spacing: -0.03em;
    font-weight: bolder;
}
#sns button:hover{
    background-color: #669933;
    color: white;
}
/* main center */










/* aside right */
#info-top,#info-right{
    width: 100%;
    display: flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
}
#info-right{
    border-bottom: 1px solid #E5E5E5;
}
#info-top *,#info-right *{
    display: inline-block;
}
#name{
    font-size: 3em !important;
    color: #333;
    display: inline;
}
#info-top #name b{
    font-family: sans-serif;
    color: #333;
    font-size: .4em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.03em;
}
#info-top h4,#info-top h4 a{
    color: #999;
    font-size: small;
    height: 30px;
    font-weight: 600;
    padding-left: 10px;
}
#info-top h4 a{
    text-decoration: none;
}
#info-top h4 a:hover{
    color: #669933;
}
.right h4{
    color: #999;
    height: 30px;
    padding-left: 10px;
}
#category a{
    margin-left: 1em;
    font-size: medium;
    font-style: normal;
    color: #888;
    font-size: 15px;
    font-weight: 500;    
    text-decoration: none;
}
#category a:hover{
    color: #669933;
}









#info-base ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 10em;
    padding-left: 5%;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
    list-style-type: disc;
    font-weight: normal;
}
#info-base ul li{
    width: 100%;
    font-size: 15px;
    line-height: 2.5em;
    color: #666;
    letter-spacing: -0.03em;
}
#info-base ul li b{
    float: left;
    width: 15%;
}
#info-base pre{
    display: inline-block;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1em;
    color: #333;
    height: auto;
    line-height: 30px;
}






#info-work h1{
    color: #333;
    margin-left: 10px;
    font-size: 2em;
    font-weight: 600;
    /* border-bottom: 1px solid #E5E5E5; */
}
#info-work ul{
    height: 400px;
    overflow: scroll;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0em;
    padding-left: 5%;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    letter-spacing: -0.03em;
    list-style-type: disc;
    font-weight: normal;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* #info-work ul::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera
} */
#info-work ul::-webkit-scrollbar {
    width: 2px; height: 0;
    background: #f3f3f3;
    border-radius: 5px;
    
}
#info-work ul::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    opacity: .4;
    border-radius: 5px;
}
#info-work ul::-webkit-scrollbar-track {
    background: none;
}





#info-work ul li{
    width: 100%;
    font-size: 15px;
    line-height: 2.5em;
    color: #666;
    letter-spacing: -0.03em;
    margin-bottom: 2em;
}
#info-work ul li b{
    float: left;
    width: 15%;
}
#info-work pre{
    display: inline;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1em;
    color: #333;
    line-height: 30px;
}



/* aside right */