


.row{
    text-align: center;
    justify-content: center;
    margin-bottom: -1em;   
}


a:hover{
    opacity: 50%;
}


hr{
    border: 1px solid lightgrey;
    width: 100%;
    margin: auto;
}


.btn{
    display: flex;
    justify-content: center;
    justify-items: center;   
}


#aa{
    margin-right: 2em;
}


#bb{
    margin-left: 2em;
}
