*{
    margin: 0;
    padding: 0;
}


.menu{
    height: 50px;
    background-color: #333;
    display: none;
}

.menuBtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
}

#menu_list p{
    display: block;
    padding: 0;
    margin: 0;
    line-height: 50px;
}


.list1{
    border-bottom: 1px solid lightgrey;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 1.2em;
    font-family: "bold", serif;
}



.list1:hover{
    color: #669933;
    text-decoration-line: none;

}




/* 로고 */
#logo{
    width: 272px;
    margin-top: -1.2%;
    margin-left: 2%;
}










/* black icon */
#head_icon{
    size:24px;
    text-align: right;
    margin-right: 2em;
}

#ntv{transform: rotate(270deg);}



/* white icon */
#head_icon_white{
    size:24px;
    text-align: right;
    display: none;
}

#ntv_white{transform: rotate(270deg);}




.header_link{
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: flex;
}



#nav{
    margin-left: 2.5em;
    margin-right: 1em;
    height: 50px;
}

#nav ul{
    float: right;
    margin-right: 20px;
}

#nav ul li{
    list-style: none;
    display: inline-block;
    font-family: "bold", serif;
    color: #333;
    font-size: 18px;
    line-height: 50px;
}



.a{
    font-size: 20px;
    color: #1b1b1b;
    font-weight: bolder;
    margin-left: 2em; 
    text-decoration-line: none;
    text-transform: uppercase;
}

.a:hover{
    color: #669933;
    text-decoration-line: none;
    text-transform: uppercase;
}














#line{
    position: relative;
    display: inline-flex;
    font-size: 0;
    width: 92px; height: 3px;
    background-color: #1b1b1b;
    text-align: center;
}


#h2{
    margin-top: 0.4em;  
}



.news{
    
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
    font-family: "regular", serif;
}


.row{
    text-align: center;
    justify-content: center;
}




/* 페이지 버튼들 */
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.input2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 30px;
}

#aa{
    margin-right: 1em;
    color: #333;
}

#aa:hover{
    color: #669933;
}


#cc{
    margin-left: 1em;
    color: #333;
}


#cc:hover{
    color: #669933;
}


.number{
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.5em;
    border: none;
}

.number:hover{
    color: #669933;
}







/* 글쓰기 버튼 */
#btn_write{
    background-color: #555555;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 30px;
    float: right;
}





 /* font */

 @font-face{
    font-family: "bold";
    src: url(./font/NotoSans-Bold.ttf);   
    /* css의 다른 파일 경로는 url() 사용 */
    }

    @font-face{
    font-family: "light";
    src: url(./font/NotoSans-Light.ttf);   
    }

    @font-face{
        font-family: "regular";
        src: url(./font/NotoSans-Regular.ttf);   
    }

    @font-face {
        font-family: "medium";
        src: url(./font/NotoSans-Medium.ttf);
    }



















































