*{
    margin: 0;
    padding: 0;
}


.menu{
    height: 50px;
    background-color: #333;
    display: none;
}

.menuBtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
}






#head_icon{
    size: 24px;
    margin-top: 1em;
    text-align: right;
    margin-top: 11px;
    margin-right: 2.5%;     
}

#ntv{transform: rotate(270deg);}


#logo{
    width: 272px;
    margin-top: -1.2%;
    margin-left: 0.8%;
}


.header_link{
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: flex;
}

#nav{
    margin-left: 2.5em;
    /* margin-right: 1em; */
    height: 50px;
}

#nav ul{
    float: right;
    margin-right: 20px;
}

#nav ul li{
    list-style: none;
    display: inline-block;
    font-family: "bold", serif;
    color: #333;
    font-size: 18px;
    line-height: 50px;
    text-transform: uppercase;
}


.a{
    text-decoration-line: none;
    color: #333;
    margin-left: 10px;
    text-transform: uppercase;
}

/* .a{
    font-size: 20px;
    color: #1b1b1b;
    font-weight: bolder;
    margin-left: 2em; 
    text-decoration-line: none;
} */

.a:hover{
    color: #669933;
    text-decoration-line: none;
}














#container{
    height: 300px;
    color: white;
    background-image: url("./img/soop1.png");
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#t1{
    font-family: "Regular", serif;
    font-size: 38px;
    margin-bottom: 2px;}
#t2{
    font-family: "regular", serif;
    font-size: 14px;
    margin-top: 0px;}


    #write{
        font-size: 30px;
        color: #333;
        font-family: "regular";
        margin-top: 10px;
    }



#line{
    position: relative;
    display: inline-flex;
    font-size: 0;
    width: 92px; height: 3px;
    background-color: #1b1b1b;
    text-align: center;
}


/* #h3{
    margin-top: 0.4em;
} */



.news{
    
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
    
}






#table{
  border-top: 2px solid #555555;
  border-bottom: 2px solid #555555;
  background-color: pink;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  
}



td{
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    
}











#file_size{
    font-size: 1px;
    color: grey;
}







#btn_cancel{
    background-color: #555555;
    border: none;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 13px;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}


#btn_ok{
    background-color: #3352a7;
    border: none;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 13px;
    float: right;
    margin-right: 20%;
    margin-top: 15px;
    margin-bottom: 30px;
}


#name,#pw,#email,#phone,#title,#tag,#file{
    height: 30px;
}

#name,#pw,#email,#phone,#title,#msg,#tag{
  
    border: 1px solid lightgrey;
    border-radius: 4px;

}

#msg{
    overflow-y: scroll;
}







/* table 사이즈 다시 */
/* .table_no_shrink{
    width: 60%;
    display: flex;
    flex-shrink: 0;

} */






/* 미디어 쿼리 */
@media screen and (max-width:600px) {
    /* .container, .navbar{
        flex-direction: column;
    } */
    #nav{
        display: none;
    }

    #logo{
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 60%;
    }
    #head_icon{
        text-align: left;
    }

    
    .no_shrink{
        flex-shrink: 0;
        width: 60%;
    }

}














    /* font */
    @font-face{
    font-family: "bold";
    src: url(./font/NotoSans-Bold.ttf);   
    /* css의 다른 파일 경로는 url() 사용 */
    }

    @font-face{
    font-family: "light";
    src: url(./font/NotoSans-Light.ttf);   
    }

    @font-face{
        font-family: "regular";
        src: url(./font/NotoSans-Regular.ttf);   
    }

    @font-face {
        font-family: "medium";
        src: url(./font/NotoSans-Medium.ttf);
    }








    









